<a href="{{link}}" target="_blank">{{computedProject.title}} ({{computedProject.id}})</a>
{{#if computedProject.description}}
    <br>
    Description: {{computedProject.description}}
{{/if}}
{{#unless computedProject.public}}
    <button class="btn btn-success" {{action 'makePublic'}}>Make Public</button>
{{/unless}}
