<a href="{{link}}" rel="noopener" target="_blank">{{computedProject.title}} ({{computedProject.id}})</a>
{{#if computedProject.description}}
    <br>
    Description: {{computedProject.description}}
{{/if}}
{{#unless computedProject.public}}
    <br>
    <button class="btn btn-warning btn-sm" {{action 'makePublic'}}>Make Public</button>
{{/unless}}
