<div class="row">
    <div class="col-md-4">
        <h3>Groups</h3>
        {{#if showInput}}
            {{input class="form-control" type="text" autofocus="true" enter="addItem"}}
        {{/if}}
        <ul class="list-group">
            {{#each model.groups as |item|}}
                <li class="list-group-item">{{#link-to "groups.show" item}}{{item.name}}{{/link-to}}</li>
            {{/each}}
        </ul>
        <button {{action 'toggleShow'}} class="btn btn-success">&#43; New</button>
    </div>
    <div class="col-md-4">
        <h3>Users</h3>
        <ul class="list-group">
            {{#each model.users as |item|}}
                <li class="list-group-item">
                    {{inline-user user=item.id}}
                    {{#rl-dropdown-container class="dropdown"}}
                        {{#rl-dropdown-toggle class="btn btn-default"}}
                            Add &#43; <span class="caret"></span>
                        {{/rl-dropdown-toggle}}

                        {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a"}}
                            {{#each model.groups as |group|}}
                                {{! template-lint-disable invalid-interactive }}
                                <a {{action 'addUser' item group}}class="list-group-item">{{group.name}}</a>
                            {{/each}}
                        {{/rl-dropdown}}
                    {{/rl-dropdown-container}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Your Projects</h3>
        <ul class="list-group">
            {{#each model.projects as |item|}}
                <li class="list-group-item">{{inline-project project=item.id}}
                {{#rl-dropdown-container class="dropdown"}}
                    {{#rl-dropdown-toggle class="btn btn-default"}}
                        Add &#43; <span class="caret"></span>
                    {{/rl-dropdown-toggle}}

                    {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a"}}
                        {{#each model.groups as |group|}}
                            {{! template-lint-disable invalid-interactive }}
                            <a {{action 'addProject' item group}}class="list-group-item">{{group.name}}</a>
                        {{/each}}
                    {{/rl-dropdown}}
                {{/rl-dropdown-container}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
