{{#link-to "groups"}}Back{{/link-to}}

<h2>{{ember-inline-edit value=model.name onSave=(action 'saveGroup')}}<small><a href="#" {{action 'deleteGroup'}}>delete</a></small></h2>

<div class="row">
    <div class="col-md-6">
        <h3>Members</h3>
        {{#if showAddUser}}
            {{input
              class="form-control"
              value=userSearchQuery
              type="text"
              autofocus="true"
              focusOut=(action "clearUserSearch")
              keyUp=(action "userSearch" userSearchQuery)
              enter="addUser"}}
            {{#if userSearchResults}}
                <li class="list-group-item">
                    {{#each userSearchResults as |u|}}
                        <li class="list-group-item" {{action 'addUser' u.id}}>{{u.fullName}} -- {{u.id}}</li><br>
                    {{/each}}
                </li>
            {{/if}}
        {{/if}}
        {{#each model.users as |item|}}
            <li class="list-group-item">
                {{inline-user user=item}}
                <a href="#" class="pull-right" {{action 'removeUser' item}}>remove</a>
            </li>
        {{/each}}
        <br>
        <button {{action 'toggleAddUser'}} class="btn btn-success">&#43; New</button>
    </div>
    <div class="col-md-6">
        <h3>Projects</h3>
        {{#if showAddProject}}
            {{input
              class="form-control"
              value=projectSearchQuery
              type="text"
              autofocus="true"
              focusOut=(action "clearProjectSearch")
              keyUp=(action "projectSearch" projectSearchQuery)
              enter="addProject"}}
            {{#if projectSearchResults}}
                <li class="list-group-item">
                    {{#each projectSearchResults as |p|}}
                        <li class="list-group-item" {{action 'addProject' p.id}}>{{p.title}} -- {{p.id}}</li><br>
                    {{/each}}
                </li>
            {{/if}}
        {{/if}}
        {{#each model.projects as |item|}}
            <li class="list-group-item">
                {{inline-project project=item}}
                <a href="#" class="pull-right" {{action 'removeProject' item}}>remove</a>
            </li>
        {{/each}}
        <br>
        <button {{action 'toggleAddProject'}} class="btn btn-success">&#43; New</button>
    </div>
</div>
